.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-title {
  color: #fff;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
}
.navbar-title > span {
  font-size: 50px;
  font-weight: 7px;
  font-family: Arial;
}

.navbar-title:hover {
  transform: scale(1.2);
  cursor: default;
  user-select: none;
}

@media screen and (max-width: 1209px) {
  .navbar-title > span {
    font-size: 33px;
  }
}

@media screen and (max-width: 1046px) {
  .navbar {
    height: 96px;
  }
}

.algoButtons {
  margin-top: 20px;
  width: 330px;
  height: 60px;
  float: left;

  cursor: pointer;
  user-select: none;
}

.otherButtons {
  margin-top: 20px;
  width: 400px;
  height: 60px;
  float: right;
  cursor: pointer;
  user-select: none;
}
.other-button {
  border-radius: 25px;
}

.other-button:hover {
  background-color: #1888ff;
  cursor: pointer;
  user-select: none;
}

@media screen and (max-width: 677px) {
  .algoButtons {
    width: 360px;
  }
}

@media screen and (max-width: 537px) {
  .algoButtons {
    margin-top: 10px;
  }
}

@media screen and (max-width: 511px) {
  .otherButtons {
    margin-top: 10px;
  }
}

.nav-item1 {
  background-color: red;
}

.nav-item1:hover {
  background-color: #1888ff;
  cursor: pointer;
  user-select: none;
}

.nav-item2 {
  background-color: #00ff00;
}
.nav-item2:hover {
  background-color: #1888ff;
  cursor: pointer;
  user-select: none;
}

.nav-item3 {
  background-color: #00ffff;
}
.nav-item3:hover {
  background-color: #1888ff;
  cursor: pointer;
  user-select: none;
}

.nav-item4 {
  background-color: #ff00ff;
}
.nav-item4:hover {
  background-color: #1888ff;
  cursor: pointer;
  user-select: none;
}
