.grid {
  margin-top: 170px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /* top: 160px; */
}

.parent {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
